include mixines
+menu
    +menuItem($.msg('common.home'), '/home', 'fa-house')
    +menuItem($.msg('genre.title'), '/genre', 'fa-folder-tree')
    +menuItem($.msg('author.title'), '/author', 'fa-people-group')
    +menuItem($.msg('book.title'), '/book', 'fa-book')
    +menuItem($.msg('comment.title'), '/comment', 'fa-comments')
    +menuItem($.msg('user.title'), '/user', 'fa-users')
    +menuItem($.msg('common.logout'), '/logout', 'fa-door-open')