include include/mixines
extends include/layout
block content
    script(src="/js/home.bundle.js")
    +fluidSection
        .row.py-3
            if SH.hasRole("ADMINISTRATOR")
                +dashboardItem('userCount', $.msg('user.title'), 'fa-users', 'bg-danger', '/user')
            if SH.hasRole("AUTHOR")
                +dashboardItem('authorCount', $.msg('author.title'), 'fa-people-group', 'bg-secondary', '/author')
                +dashboardItem('genreCount', $.msg('genre.title'), 'fa-folder-tree', 'bg-info', '/genre')
                +dashboardItem('bookCount', $.msg('book.title'), 'fa-book', 'bg-warning', '/book')
            if SH.hasRole("COMMENTATOR")
                +dashboardItem('commentCount', $.msg('comment.title'), 'fa-comments', 'bg-primary', '/comment')