include include/mixines
extends include/layout
block content
    script(src="/js/comment.bundle.js")
    +gridPanel
        form(role="form" id=)
            label(for="book")= $.msg("comment.selectBook")
            select.form-control.select2(required,
                id="book",
                data-theme="bootstrap4",
                data-not-selected=$.msg("common.notSelected"))
        +empty('emptyBooksInfo')= $.msg("comment.bookListEmpty")
        +empty('emptyCommentsInfo')= $.msg("comment.empty")
        +greenBtn('saveDialog', 'newCommentAction', $.msg("comment.add"))
        +grid('commentList', $.msg("comment.update"), $.msg("comment.delete"), 'editCommentAction', 'deleteCommentAction')
            +column100= $.msg("comment.content")
    +formDialog('saveDialog', 'saveCommentAction', $.msg("common.close"), $.msg("common.save"))
        +formHidden('commentId')
        +formField('commentContent', $.msg("comment.content"), $.msg("comment.enterContent"))