<!DOCTYPE html>
<html layout:decorate="~{import/root-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="#{comment.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section th:replace="~{import/nav::contentHeader(#{comment.title})}"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form th:if="${!books.isEmpty()}" role="form" method="post" th:action="@{/comment}" id="bookForm">
                                <label for="book" th:text="#{comment.selectBook}"></label>
                                <select class="form-control select2" required id="book" data-theme="bootstrap4">
                                    <option th:selected="${bookId == b.id}" th:each="b : ${books}" th:value="${b.id}"
                                            th:text="|${b.title} (${b.author.fullName})|"></option>
                                </select>
                                <input name="bookId" id="bookId" type="hidden"/>
                            </form>
                            <th:block th:if="${!books.isEmpty()}"
                                      th:insert="~{import/nav::newObjBtn('javascript:goto()', #{comment.add})}"/>
                            <h5 class="py-3" th:if="${#lists.isEmpty(comments)}"
                                th:text="${#lists.isEmpty(books)}?#{comment.bookListEmpty}:#{comment.empty}"></h5>
                            <table class="table table-bordered" th:if="${!#lists.isEmpty(comments)}">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 10px">#</th>
                                    <th scope="col" class="w-100" th:text="#{comment.text}"></th>
                                    <th scope="col" class="w-auto"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="c, iter : ${comments}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${c.content}"></td>
                                    <td class="text-nowrap" th:insert="~{import/nav::editDeleteCell('comment', ${c.id})}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="script">
    $(document).ready(function (){
        $("#book").select2()
    });

    $("#book").on("change", function (){
        $("#bookId").val(this.value);
        $("#bookForm").submit();
    });

    function goto() {
        let url = "/comment/save?bookid=" + encodeURIComponent($("#book").val());
        console.log(url);
        window.location.href = url;
    }
</script>
</body>
</html>