<!DOCTYPE html>
<html layout:decorate="~{import/root-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="#{common.error}"></title>
</head>
<body>
<div layout:fragment="content">
    <section th:replace="~{import/nav::contentHeader(#{common.error})}"></section>
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-warning" th:text="${statusCode}">404</h2>
            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-warning"></i><span th:text="#{common.errorTitle}"></span></h3>
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>