<!DOCTYPE html>
<html layout:decorate="~{import/root-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="#{book.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section th:replace="~{import/nav::contentHeader(#{book.title})}"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <th:block th:insert="~{import/nav::newObjBtn('/book/save', #{book.add})}"/>
                            <h5 class="py-3" th:if="${#lists.isEmpty(books)}" th:text="#{book.empty}"></h5>
                            <table class="table table-bordered" th:if="${#lists.size(books)>0}">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 10px">#</th>
                                    <th scope="col" class="w-50" th:text="#{common.name}"></th>
                                    <th scope="col" class="w-25" th:text="#{book.author}"></th>
                                    <th scope="col" class="w-25" th:text="#{book.genres}"></th>
                                    <th scope="col" class="w-auto"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="b, iter : ${books}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${b.title}"></td>
                                    <td th:text="${b.author.fullName}"></td>
                                    <td th:text="${#strings.listJoin(b.genres.![name], ', ')}"></td>
                                    <td class="text-nowrap" th:insert="~{import/nav::editDeleteCell('book', ${b.id})}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>