<!DOCTYPE html>
<html layout:decorate="~{import/root-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="#{genre.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section th:replace="~{import/nav::contentHeader(#{genre.title})}"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <th:block th:insert="~{import/nav::newObjBtn('/genre/save', #{genre.add})}"/>
                            <h5 class="py-3" th:if="${#lists.isEmpty(genres)}" th:text="#{genre.empty}"></h5>
                            <table class="table table-bordered" th:if="${#lists.size(genres)>0}">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 10px">#</th>
                                    <th scope="col" class="w-100" th:text="#{common.name}"></th>
                                    <th scope="col" class="w-auto"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="g, iter : ${genres}">
                                    <td th:text="${iter.count}"></td>
                                    <td th:text="${g.name}"></td>
                                    <td class="text-nowrap" th:insert="~{import/nav::editDeleteCell('genre', ${g.id})}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>