<!DOCTYPE html>
<html layout:decorate="~{import/root-layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="#{common.title}"></title>
</head>
<body>
<div layout:fragment="content">
    <section th:replace="~{import/nav::contentHeader(#{common.title})}"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div th:replace="~{import/nav::dashboardItem(${genreCount}, #{genre.title},
                                                            'fa-folder-tree', 'bg-info', '/genre')}"></div>
                <div th:replace="~{import/nav::dashboardItem(${authorCount}, #{author.title},
                                                            'fa-people-group', 'bg-secondary', '/author')}"></div>
                <div th:replace="~{import/nav::dashboardItem(${bookCount}, #{book.title},
                                                            'fa-book', 'bg-warning', '/book')}"></div>
                <div th:replace="~{import/nav::dashboardItem(${commentCount}, #{comment.title},
                                                            'fa-comments', 'bg-primary', '/comment')}"></div>
            </div>
        </div>
    </section>
</div>
</body>
</html>